extends ./../layout/main

block content
  h1 #{title}
  table(class="table table-responsive")
    thead 
      tr 
        th ID 
        th Name
        th Description
        th Actions
    tbody 
      each event in events
        tr 
          td= event.id 
          td= event.name 
          td= event.description
          td 
            a(href="/events/details/" + event.id, class="btn btn-info") Details
            a(href="/events/edit/" + event.id, class="btn btn-success") Edit
            form(style="display: inline-block", action="/events/delete/" + event.id + '?_method=DELETE', method="POST")
              button(type="submit", class="btn btn-danger") Delete